.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background: #f2fbf9;
}

.mainContent {
  padding: 15px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pageHeadingContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.heading {
  font-weight: 800;
  font-size: 35px;
  line-height: 42.63px;
  color: #04433b;
}
.publishButton {
  width: 150px;
  height: 50px;
  background-color: #00b686;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Proxima Nova Rg";
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 100%;
  position: relative;
}
.bannerContainer {
  display: flex;
  position: relative;
  /* flex-direction: column; */
}
.secondaryBanner {
  position: absolute;
  bottom: -10%;
  left: 2%;
}
.scopeContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-family: "Proxima Nova Rg";
  font-size: 25px;
  color: #233735;
  font-weight: 700;
}
.actionPlanContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actionPlanCTA {
  font-size: 16px;
  font-weight: 400;
  color: #7b8786;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.actionPlanCTABold {
  font-size: 18px;
  color: #00b686;
  font-weight: 700;
}
.actionPlanProgress {
  display: flex;
  gap: 3px;
}
.progressBarItem {
  width: 10px;
  height: 8px;
  background: #d3d7d7;
}
.progressBarItem:first-child {
  border-radius: 100px 0px 0px 100px;
  background: #00b686;
}
.progressBarItem:last-child {
  border-radius: 0px 100px 100px 0px;
}
.actionTabsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  font-size: 16px;
  color: #657372;
  border-bottom: 1px solid #bdc3c2;
}
.tabsGroup {
  display: flex;
  gap: 5px;
}
.tab {
  padding: 10px;
  border: 1px solid #bdc3c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
.tab:first-child {
  color: #00b686;
  background-color: #fff;
}
