.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background: #f2fbf9;
}

.mainContent {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pageHeadingContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.heading {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.92px;
  color: #04433b;
}
.publishButton {
  padding: 5px;
  background-color: #00b686;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Proxima Nova Rg";
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 100%;
  position: relative;
}
.bannerContainer {
  display: flex;
  position: relative;
  /* flex-direction: column; */
}
.secondaryBanner {
  position: absolute;
  bottom: -30px;
  left: 2%;
  max-width: 120px;
  max-height: 50px;
}
.scopeContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #233735;
  font-weight: 700;
}
.actionPlanContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actionPlanCTA {
  font-size: 10px;
  font-weight: 400;
  color: #7b8786;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.actionPlanCTABold {
  font-size: 10px;
  color: #00b686;
  font-weight: 700;
}
.actionPlanProgress {
  display: flex;
  gap: 1px;
}
.progressBarItem {
  width: 5px;
  height: 5px;
  background: #d3d7d7;
}
.progressBarItem:first-child {
  border-radius: 100px 0px 0px 100px;
  background: #00b686;
}
.progressBarItem:last-child {
  border-radius: 0px 100px 100px 0px;
}
.actionTabsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  font-size: 14px;
  color: #657372;
  border-bottom: 1px solid #bdc3c2;
}
.tabsGroup {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  flex-grow: 2;
}

.tabsGroup:last-child {
  display: none;
}
.tab {
  padding: 5px;
  border: 1px solid #bdc3c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
.tabSelected {
  color: #00b686;
  background-color: #fff;
}
.companyOverview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  font-family: "Proxima Nova Rg";
  align-items: flex-start;
}
.navBarVertical {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  align-self: flex-start;
  white-space: nowrap;
}
.navBarHeading {
  font-size: 18px;
  font-weight: 700;
  color: #657372;
}
.navBarItem {
  color: #7b8786;
  font-size: 14px;
}
.companyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}
.companyContentHeader {
  display: flex;
  font-size: 20px;
  color: #233735;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}
.headerTools {
  display: none;
  padding: 0px 5px;
  border-radius: 5px;
  border: 1px solid #d3d7d7;
  gap: 10px;
  align-items: center;
}
.headerTools img {
  height: 20px;
  width: 20px;
}
.mobileHeaderTools {
  display: flex;
  align-items: center;
}
.headerTools > hr {
  height: 20px;
}
.companyContentMain {
  width: 100%;
  background-image: url("/wework-mobile.png");
  min-height: 240px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.tools {
  display: flex;
  padding: 5px 15px;
  background-color: #fff;
  opacity: 0.7;
  max-width: max-content;
  color: #233735;
  font-size: 14px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid #d3d7d7;
  gap: 10px;
  align-items: center;
}
.tools img {
  height: 18px;
  width: 18px;
}
.pageNumber {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.companyTagline {
  padding: 10px;
  background: #fff;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  gap: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contentShareTools {
  display: flex;
  gap: 15px;
  align-items: center;
}
.contentShareTools > hr {
  height: 15px;
  border: 1px solid #d3d7d7;
}

@media screen and (min-width: 744px) {
  .mainContent {
    gap: 30px;
    padding: 15px 30px;
  }
  .heading {
    font-size: 35px;
    line-height: 42.63px;
  }
  .publishButton {
    font-size: 16px;
    padding: 10px 20px;
  }
  .secondaryBanner {
    max-width: 170px;
    max-height: 70px;
    bottom: -10%;
    left: 2%;
  }
  .scopeContainer {
    margin-top: 50px;
    font-size: 25px;
  }

  .actionPlanCTA {
    font-size: 16px;
  }
  .actionPlanCTABold {
    font-size: 18px;
  }
  .actionPlanProgress {
    gap: 3px;
  }
  .progressBarItem {
    width: 10px;
    height: 8px;
  }
  .actionTabsContainer {
    font-size: 16px;
  }
  .tabsGroup {
    flex-grow: 0;
    justify-content: flex-start;
  }
  .tabsGroup:last-child {
    display: flex;
  }
  .tab {
    padding: 10px;
  }
  .headerTools {
    display: flex;
  }
  .companyContentHeader {
    font-size: 25px;
  }
  .mobileHeaderTools {
    display: none;
  }
  .companyContent {
    gap: 30px;
  }
  .companyContentMain {
    background-image: url("/wework-tablet.png");
    background-size: cover;
    min-height: 400px;

    padding: 20px;
    /* background-repeat: repeat; */
  }
  .companyTagline {
    padding: 20px;
    font-size: 20.6693px;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .secondaryBanner {
    max-width: none;
    max-height: none;
  }
  .navBarVertical {
    display: flex;
  }
  .companyContentMain {
    background-image: url("/wework.png");
  }
}
